body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(img/medicos.jpg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30vw;
    height: auto;
    font-size: 0.5cm;
}

.login h1 {
    text-align: center;
    font-size: 1cm;
    
}

.formulario label {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.formulario input[type="checkbox"] {
    margin-right: 5px;
}

.formulario input[type="email"],
.formulario input[type="password"] {
    width: 90%;
}

.formulario input,
.formulario select {
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.enviar input[type="submit"] {
    background-color: #0056a6;
    color: #fff;
    
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.enviar input[type="submit"]:hover {
    background-color: #003c7a;
}

.btn-back {
   background-color: #0056a6;
   color: #fff;
   width: 100%;
   border-radius: 2px;
   border: 1px solid #0056a6;
   padding: 5px;
}

.formulario p {
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 700px) {
    .login {
        width: 50vw;
        font-size: 0.5cm;
    }
}